nav
  div(class="nav-wrapper container")
    a(href="#", class="brand-logo") Logo
    a(href="#", data-activates="mobile-demo", class="button-collapse")
      i(class="material-icons") menu

    ul(class="right hide-on-med-and-down")
      li
        a(href="#") Polls
      li
        a(href="#") My Polls
      li
        a(href="#") Add Poll
      li
        a(href="#", class="waves-effect waves-light btn") Sign in with Google

    ul(class="side-nav" id="mobile-demo")
      li
        a(href="#") Polls
      li
        a(href="#") My Polls
      li
        a(href="#") Add Poll
      li
        a(href="#", class="waves-effect waves-light btn") Sign in with Google
