<li *ngIf="!_auth.loggedIn()"><button class="btn navbar-btn google-login" id="google-login-button" (click)="onLoginClick()"><i class="fa fa-google-plus"></i> Log in</button></li>
<li class="dropdown" *ngIf="_auth.loggedIn() && this.user">
  <a href="#" class="google-login dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>{{user.profile.name}}</span> <img class="img-circle" src="{{user.profile.image}}"> <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">My polls</a></li>
    <li><a href="#">App Poll</a></li>
    <li role="separator" class="divider"></li>
    <li><button class="btn btn-danger btn-block" (click)="onLogoutClick()">Log out</button></li>
  </ul>
</li>