<div class="container-fluid">
  <div *ngIf="poll">
    <div class="row">
      <div class="col-lg-12">
        <h2>{{poll.title}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="forms">
        <form (submit)="onVoteSubmit()">
          <div class="form-group" *ngIf="!customOption">
            <label for="option">Please choose one of the options:</label>
            <select class="form-control" name="option" [(ngModel)]="option">
              <option *ngFor="let option of poll.options" value="{{option._id}}">{{option.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Or add a <button type="button" class="btn btn-default btn-xs" (click)="toggleCustomOption()">new</button> one <button type="button" class="btn-xs btn btn-danger" *ngIf="customOption" (click)="toggleCustomOption()">X</button></label>
          </div>
          <div class="form-group" *ngIf="customOption">
            <label>Name:</label>
            <input type="text" class="form-control" name="option" [(ngModel)]="option">
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>

        <hr>

        <div class="social">
          <a class="btn btn-sm btn-default btn-twitter" [href]="url" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <button class="btn btn-danger" *ngIf="author" (click)="onDeletePollClick()">Delete poll</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions" width="645" height="322" chartType="pie"></canvas>
      </div>
    </div>
  </div>
</div>